.btn{
    background-color: $bg-main;
    color: $bg-light;
    padding: 25px 40px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 2px;

    &:hover{
        background-color: $bg-main-hover;
    }
}